.jeu{
    margin: auto;
	position : relative;
	width : calc(32px * 20);
	height : calc(32px * 20);
	background: url(water.png) no-repeat top center;
}

.tile {
	position : absolute;
	width : 32px;
	height : 32px;
}

.character{
	position : absolute;
	width : 32px;
	height : 32px;
	background: url(Chat.png) no-repeat top center;
	top : 576px;
	left : 288px;
	z-index:  300;
	transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) all 100ms;
}

.bateaux2 {
	position : absolute;
	width : 64px;
	height : 32px;
	background: url(Torpilleur.png)no-repeat top center;
	top : 512px;
	z-index:  200;
	animation: moveB2 1.6s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moveB2 {
	from {left: 576px;}
	to {left: 0px;}
}

.bateaux31 {
	position : absolute;
	width : 96px;
	height : 32px;
	background: url(SousMarin.png)no-repeat top center;
	top : 448px;
	z-index:  200;
	animation: moveB31 1.9s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moveB31 {
	from {left: 0px;}
	to {left: 544px;}
}

.bateaux32 {
	position : absolute;
	background: url(SousMarin2.png)no-repeat top center;
	width : 96px;
	height : 32px;
	top : 224px;
	z-index:  200;
	animation: moveB32 1.7s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moveB32 {
	from {left: 544px;}
	to {left: 0px;}
}

.bateaux4 {
	position : absolute;
	background: url(Croiseur.png)no-repeat top center;
	width : 128px;
	height : 32px;
	top : 128px;
	z-index:  200;
	animation: moveB4 2s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moveB4 {
	from {left: 0px;}
	to {left: 512px;}
}

.bateaux5 {
	position : absolute;
	width : 160px;
	height : 32px;
	background: url(PorteAvions.png)no-repeat top center;
	top : 352px;
	z-index:  200;
	animation-name: moveB5;
	animation-duration:  2.3s;
	animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moveB5 {
	from {left: 480px;}
	to {left: 0px;}
}

.objectif {
	position : absolute;
	width : 32px;
	height : 32px;
	background: url(fish.png)no-repeat top center;
	top : 32px;
	left : 512px;
	z-index:  200;
}

h3 {
	font-size: 32px;
	z-index: 200;
	padding: 18px;
}